* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sq {
  background-color: #f1f1f1;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.quote {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quote img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
